<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BunnyCDN Demo</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div id="app">
    <div class="show" style="display: none">
      <div class="overlay" @click="open = null" v-if="open">
        <div class="iframeWrapper">
          <iframe :src="`https://iframe.mediadelivery.net/embed/${open.videoLibraryId}/${open.guid}?autoplay=true`"
            loading="lazy" style="border: none; height: 100%; width: 100%;"
            allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
            allowfullscreen="true"></iframe>
        </div>
        <div class="nav">
          <button @click="open = null">Close</button>
        </div>
      </div>
      <h1>BunnyCDN-Stream</h1>
      <h3>Password</h3>
      <input v-model="password" placeholder="Password" name="password" type="password" required>
      <h3>Upload your video!</h3>
      <form ref="form" @submit.prevent="submit" enctype="multipart/form-data" method="POST" action="/videos/upload">
        <input v-model="password" placeholder="Password" name="password" type="password" required style="display: none">
        <input v-model="title" placeholder="Title" name="title" type="string" required>
        <input ref="file" placeholder="File" name="file" accept="video/*" type="file" required>
        <button :disabled="uploadProgress > -1">Upload</button>
        <p v-if="error.length > 0" class="error">{{error}}</p>
        <button :disabled="uploadProgress > -1" @click.prevent="tus" class="tus">Tus Upload</button>
        <p v-if="uploadProgress > -1">Upload progress: {{uploadProgress}}%</p>
      </form>
      <div class="flex refresh">
        <h3>Uploaded videos</h3>
        <button @click="list">Refresh</button>
      </div>

      <div id="videos">
        <div v-for="file in videos" class="video">
          <img @mouseenter="hovering[file.guid] = true" @mouseleave="hovering[file.guid] = false"
            onerror="this.src = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII='"
            :src="hovering[file.guid] ? this.base + `/${file.guid}/preview.webp` : this.base + `/${file.guid}/${file.thumbnailFileName}?${file.status}`">
          <div class="info">
            <h4>{{file.title}}</h4>
            <p>
              Status: {{file.status}} - {{['Uploading', 'Processing', 'Encoding', 'Encoding',
              'Uploaded'][file.status]}}<br>
              Encode progress: {{file.encodeProgress}}
            </p>
            <div class="flex">
              <button :disabled="file.status < 4" @click="() => openVideo(file)">
                View
              </button>
              <button :disabled="file.status < 4" @click="() => shareVideo(file)">
                Open
              </button>
              <button @click="() => deleteVideo(file.guid)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tus-js-client@3.1.0/dist/tus.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        videos: [],
        base: 'PULL_URL',
        password: '',
        uploadProgress: -1,
        open: null,
        error: "",
        title: "",
        hovering: {}
      }
    },
    methods: {
      async openVideo(file) {
        this.open = file;
      },
      async shareVideo(file) {
        window.open(`https://video.bunnycdn.com/play/${file.videoLibraryId}/${file.guid}`)
      },
      async deleteVideo(guid) {
        this.error = ""
        await axios.delete("/videos/delete/" + guid + "?password=" + this.password).catch(err => {
          this.error = err.response.data
        }).then(res => {
          return this.list()
        })
      },
      async list() {
        await axios.get("/videos/list").then(res => {
          this.videos = res.data;
        });
      },
      async submit() {
        this.error = ""
        const formData = new FormData(this.$refs.form)
        await axios.post("/videos/upload", formData, {
          onUploadProgress: (progressEvent) => {
            this.uploadProgress = Math.round(progressEvent.progress * 100)
          }
        }).catch(err => {
          this.error = err.response.data
          this.error = (err.response.data)
        })

        this.uploadProgress = -1;
      },
      async tus() {
        this.error = ""
        this.uploadProgress = 0;
        const { data: res } = await axios.post("/videos/tus", { title: this.title, password: this.password })

        const file = this.$refs.file.files[0];

        const upload = new tus.Upload(file, {
          endpoint: "https://video.bunnycdn.com/tusupload",
          retryDelays: [0, 3000, 5000, 10000, 20000, 60000, 60000],
          headers: res.headers,
          metadata: {
            ...res.metadata,
            filetype: file.type
          },
          onError: function (error) {
            console.error(error)
          },
          onProgress: (bytesUploaded, bytesTotal) => {
            this.uploadProgress = Math.round(bytesUploaded / bytesTotal * 100)
          },
          onSuccess: () => {
            this.uploadProgress = -1;
          }
        })

        upload.findPreviousUploads().then(function (previousUploads) {
          if (previousUploads.length) {
            upload.resumeFromPreviousUpload(previousUploads[0])
          }
          upload.start()
        })
      }
    },
    mounted() {
      this.list();
      setInterval(this.list, 1000);
      document.querySelector(".show").style.display = "block"
    }
  }).mount('#app')
</script>

</html>