name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Setup Node
        uses: josh-development/.github/setup-node@main
      - name: Format
        run: yarn prettier --check "src/**/*.ts"
      - name: Build
        run: yarn build